img{
    width: 50%;
    height: 70%;
}

button{
    margin-top: 20px;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
}

button a{
    font-size: 20px;
}

#enr{
    background-color: #3c6aaf;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #3c6aaf;
}

#enrl{
    color: white;
}

#ex{
    background-color: white;
    border: 1px solid #3c6aaf;
    margin-left: 20px;
}

#exp{
    color: #3c6aaf;
}
