:root {
    --mainColor: rgb(104, 22, 36);
    --mainColorLight: rgb(216, 151, 162);
    --secondaryColor: rgb(216, 103, 103);
    --textColor: white;
}

.navbar{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.school-logo {
    font-size: 2.5rem;
    margin-right: 50px;
    align-items: center;
    text-align: justify;
    display: flex;
}

.school-logo:hover{
    color:var(--secondaryColor) ;
}

.navbar a{
    margin-left: 15px;
    color: var(--secondary-color);
    margin-top: 14px;
}
